@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

html,
body {
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #33a0b5;
  padding-bottom: 60px;
  position: relative;
  min-height: 100vh;
  background: url("/static/bg.jpg") #33a0b5 no-repeat center center;
  background-size: cover;
  color: #fff;
}

header .navbar {
  border-bottom: 1px solid RGBA(255, 255, 255, 0.38);
}

header nav .navbar-brand {
  color: #fff;
  font-size: 22px;
}
/* HEADER END */

/* FOOTER START */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  border-top: 1px solid RGBA(255, 255, 255, 0.38);
}
/* FOOTER END */

/* SEND MONEY CARD START */
.send-money-card {
  max-width: 700px;
  background-color: #fff;
  margin: 10px auto 20px auto;
  color: #444;
}
.send-money-card-header {
  padding: 0 0 30px 0;
  background: linear-gradient(180deg, #58b4d3 0, #327ab7 100%);
  background: -o-linear-gradient(-90deg, #58b4d3 0, #327ab7 100%);
}
.profile-image-container {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  transition: all 0.25s ease-out;
  background-size: contain;
  background: url("/static/no_avatar.png") no-repeat center center;
  border-radius: 100%;
  background-size: cover;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 12px 0 rgba(2, 2, 2, 0.3);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* SEND MONEY CARD END */

/* SEND MONEY CARD BODY START */
.send-money-card-body {
  padding: 20px 15px;
}

/* .send-money-card-body button.btn {
  margin: 15px auto;
  display: block;
  max-width: 300px;
  width: 100%;
} */
.btn-signout {
  position: absolute;
  right: 20px;
  top: 20px;
}
/* .transferAmount {
  margin: 0 auto 10px auto;
  border-bottom: 1px solid grey;
  max-width: 220px;
} */
.transferAmount {
  width: 300px;
  font-size: 60px;
  display: inline-block;
  height: auto;
  line-height: 0;
  padding: 0 10px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin: 0 10px;
  text-align: center;
}

.amount-transfer span {
  padding-left: 10px;
  font-size: 20px;
}
/* SEND MONEY CARD BODY END */

/* ACCOUNT HISTORY START */
.account-history-wrapper {
  background: #fff;
  padding: 5px 10px;
}
.account-history-wrapper ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.account-history-wrapper button.btn-primary {
  max-width: 300px;
  width: 100%;
}
.balance-list-item {
  display: inline-block;
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  margin-bottom: 5px;
}
.asset-type {
  font-weight: 400;
  text-transform: capitalize;
}
.item-balance {
  font-weight: 300;
}
/* ACCOUNT HISTORY END */

/* .homepage .body {
    background: #5f2c82; 
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82); 
    background: linear-gradient(to right, #49a09d, #5f2c82); 
    color: #fff;    
} */

.homepage .unique-link a {
  color: #fff;
}

/* .homepage .body {
  min-height: 77.5vh;
} */

.img-payment-status {
  height: 100px;
}
.glyphicon {
  padding: 0 10px;
}
